use_logd	yes
keepalive	2
deadtime	10
auto_failback	on
{% for host in groups[group_names[0]] %}
ucast		eth0 {{ hostvars[host]['ansible_default_ipv4']['address'] }}
node		{{ hostvars[host]['ansible_hostname'] }}
{% endfor %}
